* {
    margin: 0;
    padding: 0;

    color: white;
}
a {
    text-decoration: none;
}

body {
    background-color: #f1faee;
}

/*=======================================
HEADER
=======================================*/
header {
    display: initial;
    width: 100%;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}
.background-header {
    background-color: #14213d;

    height: 50px;

    display: flex;

    position: relative;

    justify-content: space-between;
}
.logo {
    display: flex;
    align-items: center;

    color: white;
}
.background-menu {
    display: flex;
}
.menu {
    display: flex;
    width: 400px;
    justify-content: space-around;
    align-items: center;
}
.menu a:hover {
    border-bottom: 2px solid #e5e5e5;
}
.background-img-btn {
    height: inherit;
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
}
.active-scroll {
    border-bottom: 2px solid #e5e5e5;
}
#btn-check {
    visibility: hidden;
    position: absolute;
    margin: 0 0 0 -9999px;
}
.label-btn{
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    user-select: none;
    padding: 2px;
    width: 50px;
    height: 20px;
    background-color: #dddddddd;
    border-radius: 1rem;
}
.label-btn::before, .label-btn::after {
    display: block;
    position: absolute;
    top: 1px;
    left: 1px;
    bottom: 1px;
}
.label-btn::before {
    content: '';

    right: 1px;
    background-color: #f1f1f1;
    border-radius: 1rem;
    transition: background 0.4s;
}
.label-btn::after {
    content: '';

    width: 20px;
    background-color: #003566;
    border-radius: 100%;
    box-shadow: 0 2px 5px rgb(0, 0, 0, 0.3);
    transition: all 0.4s;
}
#btn-check:checked + .label-btn::before {
    background-color: #001d3d;
}
#btn-check:checked + .label-btn::after {
    transform: translateX(32px);
    background-color: #fff;
}

/*=======================================
MUDANÇA NO BACKGROUND
=======================================*/
.dark {
    background-color: black;
}
.dark  p {
    color: white;
}
.dark .background-icons {
    background-color: black;
}
.dark .projetos {
    background-color: rgb(26, 25, 25);
}

/*=======================================
MAIN
=======================================*/
p {
    color: black;
}
.home {
    background-color: inherit;

    min-height: 500px;
    height: 100vh;

    padding: 50px 0 0 0;

    display: flex;
}
.home-left {
    width: 30vw;

    display: flex;
    justify-content: center;
    flex-direction: column;
}
.background-foto {
    display: flex;
    justify-content: center;
}
.foto {
    width: 200px;
    clip-path: circle();
}
.name {
    display: flex;
    justify-content: center;

    margin: 10px 0;
    font-size: 2rem;
    
    cursor: default;
}
.cargo-desejado {
    display: flex;
    justify-content: center;

    cursor: default;
}
.redes-social {
    display: flex;
    justify-content: center;

    margin: 40px 0;
}
.background-icons {
    background-color: #457b9d;

    margin: 0 10px;
    
    clip-path: circle();
}
.icons {
    width: 20px;
    
    padding: 5px;
    
    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

.home-right {
    width: 50%;
    margin: 140px 0 0 0;
}
.title-biography {
    margin: 0 0 10px 0;

    font-size: 2.25rem;
}
h1, h2 {
    color: #277da1;
}
.texts-biography p{
    margin: 20px 0;

    font-size: 1.5rem;
    line-height: 2rem;
}
.title-education {
    font-size: 2rem;

    margin: 0 0 10px 0;
}
.education {
    display: flex;
    align-items: center;
}
.education img{
    width: 30px;

    margin: 0 10px 0 0;
}


.projetos {
    padding: 50px 0 0 0;
    
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.title-projetos {
    display: flex;
    justify-content: center;

    margin: 80px 0 0 0;
    font-size: 3rem;
    font-weight: bold;
}
.background-projeto {
    display: flex;
    flex-direction: column;

    margin: 80px 0 0 0;
}
.projeto {
    margin: 30px 0;
}
.title-projeto {
    font-size: 2rem;
    font-weight: bold;
}
.linguagem-programacao {
    display: flex;

    margin: 10px 0;
}
.linguagem-projeto {
    background-color: rgba(0, 0, 0, 0.5);
    
    border-radius: 0.25rem;
    margin: 10px 10px 0 0;
    padding: 10px;

    cursor: pointer;
}
.buttons {
    display: flex;
}
.code {
    background-color: #38b000;
    width: 80px;
    height: 30px;
    
    border-radius: 0.5rem;
    margin: 0 10px 0 0;
    
    display: flex;
    justify-content: space-around;
    align-items: center;

    cursor: pointer;
}
.code.deactive {
    background-color: rgba(0, 0, 0, 0.5);

    cursor: not-allowed;

    opacity: 0.3;
}
.code:hover {
    background-color: rgba(0, 0, 0, 0.5);
}
.code img {
    width: 15px;
    height: 15px;
}

/*=======================================
RESPONSIVIDADE
=======================================*/
@media(max-width: 1200px) {
    
    .home {
        display: block;
        height: auto;
        width: auto;
        margin: 10px 90px;
    }
    .home-left {
        width: auto;
        margin: 60px 0 0 0;
    }
    .home-right {
        width: auto;
        margin: 0;
    }
    .projetos {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .background-projeto {
        margin: 0; 
    }
    .linguagem-programacao {
        flex-flow: wrap;
    }
}
@media (max-width: 700px) {
    body {
        min-width: 296px;
    }
    .active-scroll , .menu a:hover{
        font-weight: 900;
        border: 0;
    }
    .background-menu {
        height: inherit;

        display: flex;
        align-items: center;

        position: relative;
        right: 90px;

        cursor: pointer;
    }
    .menu {
        position: relative;
        width: 40px;
        height: 4px;
        border-radius: 1rem;
        background-color: white;
    }
    .menu-a {
        display: none;
    }
    .menu::before, .menu::after {
        content: " ";
        width: inherit;
        height: inherit;
        background-color: inherit;
        border-radius: inherit;
        position: absolute;
    }
    .menu::before {
        top: 8px;
    }
    .menu::after {
        top: -8px;
    }
    .menuVertical {
        position: static;
    }
    .menuVertical .menu {
        position: absolute;
        top: 50px;
        left: 0;
        display: flex;
        align-items: initial;
        flex-direction: column;
        width: 100%;
        height: initial;
        background-color: #14213d;
        border-radius: 0;
    }
    .menuVertical .menu-a {
        display: initial;
        margin: 10px 0;
    }
    .home {
        margin: 10px;
    }
    .title-biography {
        font-size: 1.5rem;
    }
    .texts-biography p {
        font-size: 1rem;
    }
    .title-education {
        font-size: 1.5rem;
    }
    .background-projeto {
        margin: 0 0 0 10px;
    }
}