* {
    margin: 0;
    padding: 0;

    font-family: 'Montserrat', sans-serif;
}

/*===========================
header
===========================*/
header {
    width: auto;

    margin: 10px 0 0 0;

    display: flex;
    justify-content: center;
}
.subbackground-photo {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #10002b;
    clip-path: circle(105px at center center);
}
.photo{
    max-width: 200px;

    display: block;

    margin: 5px 0;
    clip-path: circle();
}
.name {
    width: auto;

    display: flex;
    justify-content: center;
}
.name-text {
    font-size: 3rem;
    font-weight: bold;
    font-style: italic;
}
.bio {
    display: flex;
    justify-content: center;
}
.bio-text {
    width: 300px;

    margin: 10px 0;
    text-align: center;

}

/*===========================
main
===========================*/
.grupos-buttons {
    display: flex;
    justify-content: center;
}
.button {
    min-width: 200px;
    height: 50px;

    background: #10002b;

    margin: 10px 0;
    border-radius: 0.5rem;

    display: flex;
    align-items: center;
    justify-content: center;
    
    cursor: pointer;
}
.button.deactive {
    background-color: rgba(0, 0, 0, 0.8);

    display: none;
}
.button:hover {
    background: #5a189a;
    color: white;

    border: 2px solid #7b2cbf;
}
.button-text {
    font-weight: bold;
}
a{
    text-decoration: none;
    color: white;
}
.social-networks {
    display: flex;
    justify-content: center;
}
.social {
    height: 20px;
    
    margin: 20px 0;
}
.social img {
    width: 20px;
    
    margin: 0 10px;
    cursor: pointer;
}

/*===========================
Footer
===========================*/
.feito-por-mim {
    display: flex;
    justify-content: center;

    font-size: 1rem;
}
.feito-por-mim p {
    font-size: 0.6rem;
}

/*===========================
Responsive
===========================*/
@media (min-width: 500px) {
    .button {
        width: 500px;
    }
}