* {
    margin: 0;
    padding: 0;

    background-color: black;
    color: white;

    font-family: 'Noto Serif TC', serif;
}
/*===========================
header
===========================*/
header {
    width: auto;

    margin: 10px 0 0 0;

    display: flex;
    justify-content: center;
}
.subbackground-photo {
    display: flex;
    justify-content: center;
    align-items: center;

    background-image: linear-gradient(to bottom, #1d3557 ,#457b9d);

    clip-path: circle( at center center);
}
.photo{
    max-width: 200px;

    display: block;

    margin: 5px 0;

    clip-path: circle();
}
.name {
    width: auto;

    display: flex;
    justify-content: center;
}
.name-text {
    font-style: normal;
}
.bio {
    display: flex;
    justify-content: center;
}
.bio-text {
    min-width: 300px;

    margin: 10px 0;
    text-align: center;
}
/*=======================
social networks
=======================*/
.social-networks {
    display: flex;
    align-items: center;
    justify-content: center;
}
.social {
    height: 20px;
}
.social img {
    width: 20px;
    border-radius: 0;
    margin: 0 10px;
}

/*===========================
main
===========================*/
.fisrt-section {
    min-height: 500px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.my-projects {
    padding: 0 1rem;
}
h2 {
    text-align: center;
    font-size: 2rem;
}
.grid-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 1rem;
}
.grid-container .container {
    max-width: 350px;
    height: 100%;
    margin: 1rem;
    position: relative;
}
img {
    width: 100%;
    border-radius: 1rem;
    overflow: hidden;
    cursor: pointer;
}
.hidden-text {
    display: flex;
    text-align: center;
    align-items: center;

    position: absolute;
    bottom: 0;
    
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    height: 100%;
    font-weight: 600;
}
.hidden-text:hover {
    opacity: 1;
    transition: opacity .2s cubic-bezier(.4,0,.2,1),transform .2s cubic-bezier(.4,0,.2,1);
    cursor: pointer;
}
/*===========================
Responsive
===========================*/
@media (min-width: 500px) {
    .button {
        width: 500px;
    }
}